  .footer {
    background-color: rgba(3, 19, 58, 1);
    height: 300px;
    display: flow-root;
  }
  .footer img {
    width: 80px;
    height: 80px;
    display: block;
    margin: 93px auto 0 auto;
  }
  .footer p {
    font-family: Raleway;
    font-size: 17px;
    font-weight: 400;
    line-height: 25.5px;
    color: rgba(80, 98, 140, 1);
    text-align: center;
    margin-top: 92px;
  }

@media screen and (max-width:1000px) {
  .footer p {
    font-size: 15px;
    line-height: 22.5px;
    color: rgba(80, 98, 140, 1);
    margin-top: 94px;
  }
}

@media screen and (max-width:770px) {
  .footer {
    height: 200px;
  }
  .footer img {
    width: 60px;
    height: 60px;
    margin: 54px auto 0 auto;
  }
  .footer p {
    margin-top: 53px;
  }
}