  .head-section {
    background-image: conic-gradient(from 315deg at 257px 290px, rgba(12, 78, 225, 1), rgba(208, 137, 214, 1),rgba(12, 78, 225, 1));
    height: auto;
  }

  .top-menu{
    display: flex;
    justify-content: center;
    max-height: 120px;
    max-width: 1509px;
    width: 80%;
    padding-top: 40px;
    margin: 0 auto;
  }
  .navbar-logo {
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
  }
  .navbar-logo img{
    width: 80px;
    height: 80px;
  }
  .main-menu {
    width: 164px;
    height: 36px;
    flex: 1 1 36px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: 22px;
    margin-bottom: 22px;
    padding-left: 0;
    padding-right: 20px;
  }
  .nav-item {
    display: flex;
    justify-content: flex-end;
    margin: auto 0 auto 30px;
  }

  .desc-section {
    display: flex;
    max-width: 1509px;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 120px;
  }
  .bot-header {
    position: relative;
  }
  .rec-1-main {
    position: absolute;
    top: 6px;
    left: -20px;
  }
  .rec-1-1600 {
    display: none;
  }
  .rec-1-770 {
    display: none;
  }
  .rec-1-480 {
    display: none;
  }
  .bot-desc {
    max-width: 1023px;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    padding-left: 20px;
    margin-top: 100px;
  }
  .main-header {
    font-family: "Neue Machina Regular";
    font-size: 60px;
    font-weight: 300;
    line-height: 90px;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 0;
  }
  .desc-header{
    max-height: 181px;
  }
  .main-header b {
    font-family: "Neue Machina Bolt";
  }
  .description {
    font-family: Raleway;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: rgba(255, 255, 255, 1);
    max-width: 865px;
    margin-top: 100px;
    margin-bottom: 0;
    width: 100%;
  }

  .examples {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-top: 100px;
  }
  .photo-slider {
    margin: 20px 20px 20px 20px;
    overflow: hidden;
  }

  .comment-examples {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 94px;
    margin: 0 20px 20px 20px;
  }
  .comment-examples img {
    width: 15px;
    height: 14px;
    margin: 0 auto 0 calc(100% - 70px);
    vertical-align: bottom;
  }
  .text-slider {
    max-width: 550px;
    height: 80px;
    border-radius: 50px;
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2));
  }


@media screen and (max-width:1750px) {
  .head-section {
    background-image: conic-gradient(from 315deg at 230px 280px, rgba(12, 78, 225, 1), rgba(208, 137, 214, 1),rgba(12, 78, 225, 1));
    height: auto;
  }
  .main-header {
    font-size: 50px;
    line-height: 75px;
  }
}
@media screen and (max-width:1600px) {
  .head-section {
    background-image: conic-gradient(from 315deg at 195px 280px, rgba(12, 78, 225, 1), rgba(208, 137, 214, 1),rgba(12, 78, 225, 1));
    height: auto;
  }
  .top-menu {
    width: 87%;
    max-width: 1242px;
  }
  .examples {
    margin: 100px auto auto auto;
  }
  .bot-desc{
    margin: 100px 0 0 0;
    padding: 0 20px 0 20px;

  }
  .rec-1-main {
    display: none;
  }
  .rec-1-1600 {
    display: inline;
    position: absolute;
    top: 5px;
    left: -17px;
  }
  .rec-1-770 {
    display: none;
  }
  .rec-1-480 {
    display: none;
  }
  .main-header {
    font-size: 50px;
    line-height: 75px;
  }
  .desc-section {
    width: 87%;
    max-width: 1242px;
  }
  .description {
    margin-top: 130px;
  }
}

@media screen and (max-width: 1400px) {
  .head-section {
    background-image: conic-gradient(from 315deg at 145px 280px, rgba(12, 78, 225, 1), rgba(208, 137, 214, 1),rgba(12, 78, 225, 1));
    height: auto;
  }
}

@media screen and (max-width: 1300px) {
  .head-section {
    background-image: conic-gradient(from 315deg at 138px 280px, rgba(12, 78, 225, 1), rgba(208, 137, 214, 1),rgba(12, 78, 225, 1));
    height: auto;
  }
  .main-header {
    font-size: 50px;
    line-height: 75px;
  }
}

@media screen and (max-width: 1200px) {
  .head-section {
    background-image: conic-gradient(from 315deg at 125px 280px, rgba(12, 78, 225, 1), rgba(208, 137, 214, 1),rgba(12, 78, 225, 1));
    height: auto;
  }
}

@media screen and (max-width: 960px) {
  .head-section {
    background-image: conic-gradient(from 315deg at 60px 280px, rgba(12, 78, 225, 1), rgba(208, 137, 214, 1),rgba(12, 78, 225, 1));
    height: auto;
  }
  .top-menu {
    max-height: 100px;
    width: 100%;
  }
  .main-menu {
    margin-top: 12px;
    margin-bottom: 12px;
  }
  .navbar-logo img{
    width: 60px;
    height: 60px;
  }
  .desc-section {
    width: 100%;
  }
  .desc-header {
    max-height: 150px;
  }
  .bot-desc {
    margin-top: 120px;
    width: 100%;
  }
  .examples {
    display: none;
  }
  .description {
    font-size: 17px;
    line-height: 25.5px;
    max-width: 718px;
  }
  .desc-section {
    padding-bottom: 110px;
  }
}

@media screen and (max-width: 770px) {
  .head-section {
    background-image: conic-gradient(from 315deg at 52px 247px, rgba(12, 78, 225, 1), rgba(208, 137, 214, 1),rgba(12, 78, 225, 1));
    height: auto;
  }
  .top-menu {
    max-height: 80px;
    padding-top: 20px;
  }
  .navbar-logo {
    height: 50px;
  }
  .rec-1-main {
    display: none;
  }
  .rec-1-1600 {
    display: none;
  }
  .rec-1-770 {
    display: inline;
    position: absolute;
    top: 8px;
    left: -10px;
  }
  .rec-1-480 {
    display: none;
  }
  .main-header {
    font-size: 40px;
    line-height: 60px;
  }
  .desc-header {
    max-height: 200px;
  }
  .desc-section {
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 520px) {
  .head-section {
    background-image: conic-gradient(from 315deg at 40px 200px, rgba(12, 78, 225, 1), rgba(208, 137, 214, 1),rgba(12, 78, 225, 1));
    height: auto;
  }
  .top-menu {
    max-height: 70px;
  }
  .main-menu {
    margin-top: 7px;
    margin-bottom: 7px;
  }
  .nav-item {
    margin: auto 0 auto 25px;
  }
  .nav-item img{
    width: 24px;
    height: 24px;
  }
  .navbar-logo img{
    width: 50px;
    height: 50px;
  }
  .rec-1-main {
    display: none;
  }
  .rec-1-1600 {
    display: none;
  }
  .rec-1-770 {
    display: none;
  }
  .rec-1-480 {
    display: inline;
    position: absolute;
    top: 5px;
    left: -9px;
  }
  .main-header {
    font-size: 25px;
    line-height: 37.5px;
  }
  .desc-header {
    max-height: 76px;
  }
  .bot-desc {
    margin-top: 100px;
  }
  .description {
    font-size: 15px;
    line-height: 22.5px;
    margin-top: 70px;
  }
  .desc-section {
    padding-bottom: 82px;
  }
}

@media screen and (max-width: 320px) {
  .head-section {
    background-image: conic-gradient(from 315deg at 40px 170px, rgba(12, 78, 225, 1), rgba(208, 137, 214, 1),rgba(12, 78, 225, 1));
    height: auto;
  }
  .top-menu {
    max-height: 60px;
  }
  .nav-item {
    margin: auto 0 auto 20px;
  }
  .main-menu {
    margin-top: 2px;
    margin-bottom: 2px;
  }
  .desc-header {
    max-height: 152px;
  }
  .navbar-logo {
    height: 40px;
  }
  .navbar-logo img{
    width: 40px;
    height: 40px;
  }
  .bot-desc {
    margin-top: 80px;
  }
  .description {
    margin-top: 50px;
  }
  .desc-section {
    padding-bottom: 50px;
  }
}